<div
  class="flex flex-row justify-between border-b-violet-800 border-b p-2 gap-2 items-center bg-gray-200"
>
  <div class="flex flex-row gap-2">
    <img src="assets/{{ pageIcon }}" alt="" class="p-1" />
    <div class="flex flex-col">
      <p class="p-0 m-0 text-xl font-medium">{{ pageTitle }}</p>
      <small class="text-gray-600">{{ pageQuote }}</small>
    </div>
  </div>

  <button
    class="flex flex-row items-center justify-between gap-1 border-0 rounded-xl box-border p-2 bg-violet-800 text-white pe-4 transition duration-150 ease-in-out active:scale-95"
  >
    <img src="assets/plus-white.svg" alt="" />
    Add transaction
  </button>
</div>
