@if (isOpen) {
<div
  class="fixed inset-0 flex items-center justify-center z-50 backdrop-blur-sm bg-slate-50/20"
  (click)="closeModal()"
>
  <div
    class="bg-sky-100 rounded-lg shadow-lg inline-flex flex-col max-w-md p-4 relative"
    (click)="$event.stopPropagation()"
  >
    <button
      class="absolute top-2 right-2 text-gray-500 hover:text-gray-800"
      (click)="closeModal()"
    >
      <img src="assets/x-violet.svg" alt="" />
    </button>
    <ng-content></ng-content>
  </div>
</div>
}
