<div
  class="box-border h-screen w-64 bg-sky-200 shadow-md flex flex-col justify-between"
>
  <!-- Top Section -->
  <div>
    <!-- Logo -->
    <div
      class="text-2xl font-bold mb-6 p-4 bg-gradient-to-r from-violet-800 to-blue-800 bg-clip-text text-transparent"
    >
      Smart Expenditure Management
    </div>

    <!-- User Info Placeholder -->
    <div
      class="bg-sky-800 rounded-lg mb-6 p-6 mx-4 border border-gray-200 shadow-sm text-center"
    >
      <div class="text-gray-100 italic text-sm">
        “Do not save what is left after spending, but spend what is left after
        saving.”
        <br />
        <span class="mt-2 block text-gray-50 text-xs">– Warren Buffett</span>
      </div>
    </div>

    <!-- Navigation -->
    <nav class="flex flex-col gap-0 rounded-xl">
      @for (item of navItems; track item.navRoute) {
      <app-sidebar-nav-eliment [navItem]="item"></app-sidebar-nav-eliment>
      }
    </nav>
  </div>

  <!-- Bottom Section -->
  <div class="w-full flex flex-col">
    <button
      class="flex items-center gap-1 px-4 py-2 bg-sky-300 border-0 text-red-600 font-medium hover:text-red-800"
      (click)="logout()"
    >
      <img src="assets/power-red.svg" class="" />
      Logout
    </button>
    <div class="bg-sky-900 min-h-30 py-2">
      <p class="text-sm text-sky-100 px-4">© Copy Right 2025.</p>
      <div class="flex flex-row w-full gap-6 box-border px-4 py-4">
        <img
          src="assets/mail.svg"
          class="bg-sky-200 rounded-xl p-0.5 h-9 w-9"
        />
        <img
          src="assets/github.svg"
          class="bg-sky-200 rounded-xl p-0.5 h-9 w-9"
        />
        <img
          src="assets/linkedin.svg"
          class="bg-sky-200 rounded-xl p-0.5 h-9 w-9"
        />
      </div>
    </div>
  </div>
</div>
