@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

.mat-mdc-dialog-container {
  @apply p-0;
}
.mdc-notched-outline__notch {
  border-style: none;
}
/* .mat-mdc-icon-button {
  line-height: normal;
} */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.loader {
  border: 3px solid rgb(0, 0, 0);
  border-top: 3px solid transparent;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
